.elements {
  width: 880px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 17px;
  justify-content: center;
}

.elements__card {
  width: 282px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
}

.elements__img-container {
  width: 282px;
  height: 282px;
  overflow: hidden;
  border: none;
}

.elements__img {
  width: 290px;
  height: auto;
  object-fit: cover;
}

.elements__info {
  color: black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.elements__card-title {
  margin: 0;
  font-size: 24px;
  font-weight: 900;
  padding: 25px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.elements__like-btn {
  width: 21px;
  height: 19px;
  background-image: url(../images/like-btn.png);
  background-size: cover;
  background-repeat: no-repeat;
  transition: ease-in-out 0.2s;
}

.elements__like-btn:hover {
  background-image: url(../images/like-btn-hover.png);
  cursor: pointer;
}

.elements__like-btn_active {
  background-image: url(../images/like-btn-active.png);
}

@media screen and (max-width: 320px) {
  .elements {
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
