.elements {
  width: 880px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 17px;
  justify-content: center;
}

.elements__card {
  width: 282px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.elements__trash-icon {
  width: 18px;
  height: 19px;
  background-image: url(../images/trash-icon.png);
  position: absolute;
  right: 15px;
  top: 18px;
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.3));
}

.elements__trash-icon:hover {
  cursor: pointer;
  background-image: url(../images/trash-icon-hover.png);
}

.elements__img-container {
  width: 282px;
  height: 282px;
  overflow: hidden;
  border: none;
}

.elements__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.elements__img:hover {
  cursor: pointer;
}

.elements__info {
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 18px;
  padding-left: 21px;
}

.elements__card-title {
  margin: 0;
  font-size: 24px;
  font-weight: 900;
  padding: 25px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: auto;
  max-width: calc(100% - 50px);
  flex-shrink: 1;
}

.elements__like-btn {
  width: 21px;
  height: 19px;
  background-image: url(../images/like-btn.png);
  background-size: cover;
  background-repeat: no-repeat;
  transition: ease-in-out 0.2s;
  margin-left: auto;
}

.elements__like-btn_active {
  background-image: url(../images/like-btn-active.png);
}

.elements__like-btn:hover {
  background-image: url(../images/like-btn-hover.png);
  cursor: pointer;
}

.elements__like-btn.elements__like-btn_active:hover {
  background-image: url(../images/like-btn-active.png);
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .elements {
    width: 620px;
    display: flex;
    flex-direction: row;
  }
}

@media screen and (max-width: 625px) {
  .elements {
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 350px) {
  .elements {
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
