.header {
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 880px;
  margin-bottom: 40px;
  padding-top: 45px;
}
.header__logo {
  margin-bottom: 41px;
}
.header__line {
  border: none;
  height: 1px;
  background-color: #545454;
  width: 100%;
}

@media screen and (max-width: 900px) {
  .header {
    width: 520px;
    padding-top: 28px;
    margin-bottom: 42px;
  }
}

@media screen and (max-width: 625px) {
  .header {
    width: 350px;
    padding-top: 28px;
    margin-bottom: 42px;
  }
}

@media screen and (max-width: 350px) {
  .header {
    width: 320px;
    padding-top: 28px;
    margin-bottom: 42px;
  }
}

@media screen and (max-width: 320px) {
  .header__logo {
    width: 128px;
    height: 24px;
    margin-left: 27px;
    margin-bottom: 32px;
  }
  .header__line {
    border: none;
    height: 0.5px;
  }
}
